<div align='right'>
<A HREF="https://bitbucket.org/laserllama/warpseq/src/master/">Source Code</A> | <A HREF="https://trello.com/b/La3aRUIQ/warp-sequencer-planning">Trello</A> | <A HREF="https://twitter.com/warpseq">Twitter</A> | <A HREF="https://www.patreon.com/mpdehaan?fan_landing=true">Patreon</A> | &copy; Michael DeHaan, 2020
</div>
